* {
    margin: 0px;
    padding: 0px;
}

.nav {
    background-color: rgb(255, 145, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.nav .header p {
    font-size: 50px;
    padding: 15px;
}

.navbar {
    position: fixed;
    background-size: cover;
    height: 70%;
    transition: all .5s;
    width: 100%;
}

.navbar ul {
    display: flex;
    flex-direction: column;
}

.navbar ul li {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    list-style-type: none;
    cursor: pointer;
    background-color: rgb(255, 145, 0);
    /* background-color: white !important; */


}
.navbar ul li:hover {
    background-color: rgb(207, 122, 11);
    color: rgb(0, 0, 0);
}

.nav .hamburger {
    margin-right: 10px;
}

.nav .hamburger li {
    list-style-type: none;
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 5px;
}


.active {
    left: -100% !important;
    position: fixed;
}
 .navbar li a{
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
    color: black;

}

.navbar li a:link {
    text-decoration: none !important;
    color: black;
}
.navbar li a:hover {
    text-decoration: none !important;
    color: rgb(24, 21, 21);

}

.footer{
    display: flex;
    justify-content: space-between !important;
}